TIMEZONE=Europe/London

ENV=dev

PROVIDER=openai

OPENAI_API_KEY=
OPENAI_MODEL=

FOUNDRY_PROJECT_ENDPOINT=
FOUNDRY_MODEL=

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_MODEL=

REASONING_EFFORT=

APPLICATIONINSIGHTS_CONNECTION_STRING=